<header>
  <h1 class="mega">Your Story Aligns with Corinne</h1>
</header>

<section>
  <div class="grid-wrapper">

    <div class="photo">
      <img class="photo" src= "tabitha.png" width="100%">
    </div>

    <div class="story">
      <div class="story-wrapper">
        <h2>Corinne's Story</h2>
        <p>Like many people, Corinne had a job. She worked as a nurse, but her
        primary job wasn't enough to cover her high-cost rent in San Francisco.
      To cover her needs, she picked up as many jobs as she could until she
      worked herself into exhaustion. Bured out, tired, and depressed, she
      couldn't keep up with her workload. She was eventually fired from all
      jobs, then evicted. After hearing her story,a kind stranger suggested that
      she visit the Bay Area Rescue Mission.</p>

        <h2>Where Corinne is Today</h2>
        <p>When Corinne first visited the Bay Area Rescue Mission, she was
          described as numb, lifeless from overworking herself into exhaustion.
          Today, Corinne is full of life, and volunteers to help other survivors of homelessness.</p>

          <div class="donate">
            <p><a href="https://www.servicenetwork.com/olg/barm/Donate.aspx?FormId=d666f326-c6f1-4912-bc63-07498419e014&utm_source=website&utm_medium=preheader">Donate on Behalf of Corinne>></a></p>
          </div>


      </div>
    </div>

    <div class="share-story">
      <h2 class="mega">Share Your Story - #HowIGotHere</h2>
      <p align="center">Life has a way of taking unexpected turns. And, for many Americans,
        we're only one unfortunate decision away from homelessness. </p>
        <p align="center">Take
        action today to end homelessness. Donate to the Bay Area
        Rescue Mission and share your story.
        <br />
      </p>

        <div class="social-grid">
          <div class="social"><a href="https://fb.com"><img src="fb_icon.png" width="100px"></a></div>
          <div class="social"><a href="https://twitter.com"><img src="tw_icon.png" width="100px"></a></div>
          <div class="social"><a href="https://instagram.com"><img src="insta_icon.png" width="100px"></a></div>
        </div>


    </div>


    <div class="bayarea-rm">
      <h2 class="mega">Donate to Bay Area Rescue Mission</h2>
      <p align="center">For more than forty years, the Bay Area Rescue Mission, a Christian
        organization, has been changing lives for a brighter tomorrow through
        emergency shelter, meals, recovery programs, spiritual counseling,
        education, job skills training, transitional services, youth
        intervention, food pantry, resource distribution, and mobile outreach.</p>
      <div class="donate">
        <p align="center"><a href="https://www.servicenetwork.com/olg/barm/Donate.aspx?FormId=d666f326-c6f1-4912-bc63-07498419e014&utm_source=website&utm_medium=preheader">Donate >></a></p>
      </div>
    </div>
</div>
</section>
