<header>
  <h1>#HowIGotHere</h1>
</header>

<section class="landing-section">
  <div class="landing">
    <h2 class="mega">Which path will you take?</h2>
    <p class="mega"><a href="/node1">Start >></a></p>
  </div>

</section>
