<h1>#HowIGotHere</h2>

<section class="node-wrapper">

  <div class="node-image">
    <img src="node2-graphic.png" width="100%">
  </div>

  <div class="node-story-container">
    <div class="node-story-wrapper">
      <div class="node-story">
        <p>You are exhausted from working 16 hours and only
        had 4 hours of sleep.</p>
        <p>But, it’s time to go to work.</p></div>
      <div class="button-left"><a href="/node3">Go to Work</a></div>
      <div class="button-right"><a href="/end1">Call in Sick</a></div>
    </div>
  </div>


</section>
